version: '3.9'

services:

  dns:
    image: ubuntu/bind9:latest
    container_name: dns
    restart: always
    ports:
      - "53:53/udp"
      - "53:53/tcp"
    volumes:
      - ./dns:/etc/bind
    networks:
      - infrasCode

  proxy:
    build:
      context: ./proxy
    image: proxy-image
    container_name: proxy
    restart: always
    ports:
      - "80:80"
    depends_on:
      - wordpress
      - webserver
      - dns
    networks:
      - infrasCode

  wordpress:
    image: wordpress
    container_name: wordpress
    restart: always
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: wordpressdb
      WORDPRESS_DB_USER: wordpressuser
      WORDPRESS_DB_PASSWORD: passwdwordpress
    depends_on:
      - db
    volumes:
      - ./wordpress:/var/www/html
    networks:
      - infrasCode

  webserver:
    image: nginx:latest
    container_name: webserver
    restart: always
    volumes:
      - ./webserver:/usr/share/nginx/html
    networks:
      - infrasCode

  db:
    image: mysql:5.7
    container_name: banco
    restart: always
    environment:
      MYSQL_DATABASE: wordpressdb
      MYSQL_USER: wordpressuser
      MYSQL_PASSWORD: passwdwordpress
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    volumes:
      - ./db:/var/lib/mysql
    networks:
      - infrasCode

volumes:
  wordpress:
  webserver:
  db:
  dns:

networks:
  infrasCode: